<h2>Books</h2>
<ul>

{% for book in site.books %}
  <!--- <li>{{ book.title }}: <a href="{{ post.url | relative_url }}">{{ book.title }}</a></li> --->
  <li>{{ book.title }}: <a href="{{ site.baseurl }}{{ book.url }}">{{ book.title }}</a></li>
{% endfor %}

</ul>

<h2>Latest books</h2>

<ul class="post-list">
  {% for book in site.books %}
    <li>

      {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>

      <h2>
        <a class="post-link" href="{{ book.url | absolute_url }}" title="{{ book.title }}">{{ book.title | escape }}</a>
      </h2>

      {{ book.excerpt | markdownify | truncatewords: 30 }}

    </li>
  {% endfor %}
</ul>
        
        